export(efp_grob)
export(efp_grob_single)
export(geom_efp)
export(get_exhibits)
export(theme_efp)
exportMethods(mapcols)
import(grid)
import(proto)
importClassesFrom(grImport,PictureFill)
importClassesFrom(grImport,PictureStroke)
importFrom(grImport,pictureGrob)
